
@{
    ViewBag.Title = "VertifySuccess";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="wrap-vertify-success mt-3 container text-center">
    <h1 class="fs-2 fw-semibold text-dark">Xác nhận tài khoản thành công</h1>
    <a href="/Sign/Login" class="btn btn-warning fw-semibold">Đăng nhập</a>
</div>

